<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.co.soogong.master">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".SoogongApp"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="${cleartextTrafficPermitted}">
        <activity
            android:name="kr.co.soogong.master.presentation.ui.auth.AuthContainerActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="kr.co.soogong.master.presentation.ui.auth.signup.steps.AgreementDetailActivity"
            android:exported="false" />
        <activity
            android:name="kr.co.soogong.master.presentation.ui.profile.review.MyReviewsActivity"
            android:exported="false" />
        <activity
            android:name="kr.co.soogong.master.presentation.ui.profile.detail.EditProfileContainerActivity"
            android:exported="true" />
        <activity
            android:name="kr.co.soogong.master.presentation.ui.profile.detail.portfoliolist.PortfolioListActivity"
            android:exported="false" />
        <activity
            android:name="kr.co.soogong.master.presentation.ui.splash.SplashActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="kr.co.soogong.master.presentation.ui.common.KakaoAddressActivity"
            android:exported="true" />
        <activity
            android:name="kr.co.soogong.master.presentation.ui.main.MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="soogong.page.link"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name="kr.co.soogong.master.presentation.ui.common.MajorActivity"
            android:exported="false" />
        <activity
            android:name="kr.co.soogong.master.presentation.ui.common.image.ImageActivity"
            android:exported="false" />
        <activity
            android:name="kr.co.soogong.master.presentation.ui.requirement.action.cancel.CancelActivity"
            android:exported="false" />
        <activity
            android:name="kr.co.soogong.master.presentation.ui.requirement.action.end.EndRepairActivity"
            android:exported="false" />
        <activity
            android:name="kr.co.soogong.master.presentation.ui.requirement.list.search.SearchActivity"
            android:exported="true" />
        <activity
            android:name="kr.co.soogong.master.presentation.ui.requirement.list.done.DoneActivity"
            android:exported="true" />
        <activity
            android:name="kr.co.soogong.master.presentation.ui.requirement.action.view.ViewRequirementActivity"
            android:exported="true"
            android:launchMode="singleTask" /> <!-- 현장방문요청건을 고려 singleTop 로 설정 -->
        <activity
            android:name="kr.co.soogong.master.presentation.ui.requirement.action.visit.VisitingDateActivity"
            android:exported="true"
            android:launchMode="singleTask" />
        <activity
            android:name="kr.co.soogong.master.presentation.ui.requirement.action.visit.template.EstimationTemplatesActivity"
            android:exported="false" />
        <activity
            android:name="kr.co.soogong.master.presentation.ui.preferences.account.AccountActivity"
            android:exported="false" />
        <activity
            android:name="kr.co.soogong.master.presentation.ui.preferences.detail.PreferencesContainerActivity"
            android:exported="true" />

        <service
            android:name=".FCMService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="firebase_messaging_auto_init_enabled"
            android:value="false" />
        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="false" />
        <meta-data
            android:name="android.webkit.WebView.EnableSafeBrowsing"
            android:value="true" />
    </application>

</manifest>