<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.co.soogong.master">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".SoogongApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.auth.password.change.ChangePasswordActivity"></activity>
        <activity android:name=".ui.profile.edit.requiredinformation.EditRequiredInformationActivity" />
        <activity android:name=".ui.profile.review.MyReviewsActivity" />
        <activity android:name=".ui.profile.edit.EditProfileContainerActivity" />
        <activity android:name=".ui.profile.edit.withcard.EditProfileWithCardActivity" />
        <activity
            android:name=".ui.splash.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.auth.SignMainActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.auth.signup.SignUpActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.auth.signup.AddressActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.auth.signin.SignInActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.auth.password.find.FindPasswordActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.main.MainActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.select.CategoryActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.image.ImageActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.requirements.action.cancel.CancelEstimateActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.requirements.action.end.EndEstimateActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.requirements.action.view.ViewEstimateActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.requirements.action.write.WriteEstimateActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.mypage.account.AccountActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.mypage.alarm.AlarmActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.mypage.notice.NoticeActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.mypage.notice.detail.NoticeDetailActivity"
            android:launchMode="singleTask" />

        <service
            android:name=".SoogongMasterMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="firebase_messaging_auto_init_enabled"
            android:value="false" />
        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="false" />
    </application>

</manifest>