<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="kr.co.soogong.master">

    <application
        android:name=".DebugSoogongApp"
        android:label="Debug App"
        tools:replace="android:name, android:label">

        <activity
            android:name="com.facebook.flipper.android.diagnostics.FlipperDiagnosticActivity"
            android:exported="true" />

    </application>

</manifest>